/*colours */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
/*
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');
$font : 'Quicksand', sans-serif;
*/
a, a:hover {
  color: inherit;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s; }

.col {
  padding: 0;
  margin: 12px; }

body {
  margin: 0;
  background: #EDF1F9;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif; }

.main {
  margin: auto;
  height: auto;
  margin-left: 250px;
  position: relative; }
  .main > div {
    width: calc(100% - 12px * 4);
    margin-left: 12px;
    box-sizing: border-box;
    overflow-x: hidden; }
  .main .row {
    margin: 12px; }
  .main .row:first-of-type {
    margin-top: 24px; }

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 0;
  padding: 24px;
  background: white; }
  .card .card-header {
    background: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #7DE522;
    padding: 6px 0; }
  .card .card-body {
    padding: 12px 0;
    background: 0; }

.logo {
  height: 50.75px;
  width: 85.00625px;
  margin: 12px auto; }

.drawer {
  width: 250px;
  background: #2A3547;
  color: #A4A9B2;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  height: 100%; }
  .drawer .list-group-item {
    height: 60px;
    border-radius: 0;
    background: 0;
    border: 0;
    color: #A4A9B2;
    transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 0.4s; }
    .drawer .list-group-item > div {
      height: 60px;
      width: 0;
      bottom: 0;
      left: 12px;
      position: absolute;
      margin: 0;
      transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
      background: #7DE522;
      /* Old browsers */
      background: linear-gradient(to right, #7DE522 0%, #D5E522 100%);
      z-index: -1; }
  .drawer .list-group-item:not(.active):hover {
    color: #7DE522;
    background: rgba(130, 230, 50, 0.05); }
    .drawer .list-group-item:not(.active):hover > div {
      width: 8px; }
  .drawer .active {
    color: white;
    font-weight: 600; }
    .drawer .active > div {
      color: #7DE522;
      width: 100%; }

nav {
  height: 75px;
  background: white;
  colour: #A4A9B2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); }

.nav-link {
  transform: translateY(-8px); }

.nav-icon {
  vertical-align: -webkit-baseline-middle;
  margin: 0 12px; }

.nav-icon-static {
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.5); }

.search {
  border: 0;
  color: rgba(0, 0, 0, 0.75);
  width: 250px; }

.search:focus {
  outline: none; }

.module {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.75s; }

.transparent {
  opacity: 0;
  transform: scale(0.96); }

.material-icons {
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 5px; }

.drawer-icon {
  margin-right: 12px; }
