$nav-height: 75px;
$shadow: 0 0 40px rgba(0,0,0,0.05);
$drawerWidth: 250px;
$anim: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
/*colours */
$primary: #7DE522;
$accent: #D5E522;
$dark: #2A3547;
$light: #A4A9B2;
$heading: rgba(0,0,0,0.6);
$p: rgba(0,0,0,0.4);
$bg: rgba(0,0,0,0.05);
$margin: 1.5vw;
$break-medium: 960px;


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
$font : 'Montserrat', sans-serif;

/*
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');
$font : 'Quicksand', sans-serif;
*/
a, a:hover{
  color: inherit;
  transition: $anim;
}

.col{
  padding:0;
  margin:$margin;
}
.inner{

}

.col.test-graph{
  flex: 0 0 0px;
}
.col.level{
  flex: 0 0 300px;
  width:300px;
  h1{
    position: absolute;
    top:43%;
    left:90px;
    //width:300px;
    text-align: center;
    vertical-align: middle;
  }
}

body{
  margin: 0;
  background: $bg;
  font-family: $font;
  overflow-x: hidden;
}
.navbar-nav{
  display: flex;
  width:100%;
  justify-content: space-between;
}

h1{
  color: rgba(0,0,0,0.5);
  margin:0;
}

hr{
  background:rgba(0,0,0,0.5);
  //height:1px;
}

.heading{
  margin:$margin;
  h1{
    color: $heading;
  }
  h2{
    color:$heading;
    opacity:0.5;
  }
}

.row{
  width:100%;
  margin:auto;
}

.module{
  margin:$margin;
  margin-top:$margin;
}

.main{
  margin:auto;
  height:auto;
  margin-left: 250px;
  position:relative;
}

.card-container{
  padding:0;
  opacity:1;
}

.anim {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.75s;
}

.transparent{
  opacity: 0;
  transform:  scale(0.96) translateY(20px);
  border:3px red solid;
}

.image-card{
}

.card{
  a{
    text-decoration: none;
  }

  transition: $anim;
  box-shadow: $shadow;
  border:0;
  margin:$margin*2;
  padding:0;
  border-radius: $margin/2;
  background: white;
  &:hover .card-img-top{
    filter: grayscale(0%);
    background-size: 125%
  }
  .card-header{
    background:0;
    text-transform: uppercase;
    font-weight: 600;
    color:$primary;
    padding:$margin/2 0;
    margin: $margin;
  }
  .card-img-top{
    filter: grayscale(50%);
    transition: all 5s linear;
    height:200px;
    border-top-left-radius: $margin/2;
    border-top-right-radius: $margin/2;
    background-position: center;
    background-size: 100%
  }
  .card-body{
    padding:$margin;
    background: 0;
    h2,h3,h4,h5,p,.bottom{
      padding:$margin/1.5 $margin;
      margin:0;
    }
    .progress{
      margin-right: $margin*2;
      height:8px;
      width:100%;
      .progress-bar{
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
        transition-delay: 0.6s;
        background: linear-gradient(to right, $primary 0%, $accent 100%);
      }
    }
    p{
      font-size:14px;
      line-height: 28px;
      font-weight: 400;
    }
    h3{
      font-size:28px;
      font-weight: 800;
    }
  }
}

.logo{
  width: 100px;
  margin: 15px auto ;
}

.drawer {
  width:250px;
  background: #fff;
  color:$light;
  position: fixed;
  overflow-x: hidden;
  z-index:1;
  filter: blur(0px);
  transition: filter 0.3s ease-out;
  height:100%;
  .list-group-item{
    height:60px;
    border-radius: 0;
    background: 0;
    border: 0;
    color:$light;
    transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    >div{
      height: 60px;
      width:0;
      bottom:0;
      left:0;
      position: absolute;
      margin:0;

      transition: $anim;
      background: $primary; /* Old browsers */
      background: linear-gradient(to right, $primary 0%, $accent 100%);
      z-index:-1;
    }
  }
  .list-group-item:not(.active):hover{
    color:$primary;
    background: rgba(130,230,50,0.05);
    > div{
     width:8px;
   }
  }

  .active{
    color:white;
    font-weight: 600;
    //background: $primary; /* Old browsers */
    //background: linear-gradient(to right, $primary 0%, $accent 100%);
    > div{
      color:$primary;
      width: 100%;
   }
  }

}

.menu-icon{
  display: none;
}

@media only screen and (max-width: 960px) {
  .menu-icon{
    display: block;
  }
  body{
    background:white;
  }
  .drawer{
    transform: translateX(-255px);
  }
  .navbar{
    position: fixed;
    width:100%;
  }

  .main{
    margin-left:0;
  }

  .module{
    margin-top: $nav-height;
    padding:0;
  }


  .search-container{
    float:right;
  }
  .notifications{
    display: none;
  }
}

@media only screen and (max-width: 600px) {

}

nav{
  z-index: 2;
  height: $nav-height;
  background: white;
  colour:$light;
}

.nav-link{
  padding: 0;
}

.nav-icon{
  vertical-align: -webkit-baseline-middle;
  margin:0 $margin;
}

.nav-icon-static{
  margin-right: $margin;
  color:rgba(0,0,0,0.5);
}

.search{
  border:0;
  color:rgba(0,0,0,0.75);
  width:250px;
}
.search:focus{
    outline: none;
}

.material-icons{
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 5px;
}

.drawer-icon{
  margin-right: $margin;
}

@keyframes fadeZoom {
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  0% {
    opacity: 0;
    transform:translateY(0px) scale(0.95) ;
  }

  to {
    opacity: 1;
    transform: translateY(0px) scale(1) ;
  }
}

.fadeZoom {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: fadeZoom;
  animation-name: fadeZoom;
}

.overlay{
  position: fixed;
  width: 100%;
  height:100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  background: radial-gradient(circle at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.8) 100%);
  z-index: 2;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loginField{
  border: none;
  outline: none;
  border-bottom: 1px solid $light;
  margin:$margin;
}
.btn{
  margin:$margin;
  text-transform: uppercase;
  font-weight: bold;
  background:$primary;
  color:#fff;
  border-radius: 2px;
}
.btn:hover{
  background:$accent;
}

.blur{
  filter: blur(3px);
}

.login_hide{
  transform: translateY(500px);
  transition: all ease 1s;
  border:1px solid red;
}

button{
  background: $primary;
  color:#fff;
  outline:none;
  border:none;
}
.notifications{
  position: fixed;
  z-index: 4;
  bottom:20px;
  right:20px;
}
.notification{
  margin:20px 0;
  width: 500px;
  height: 100px;
  background: linear-gradient(to right, $primary 0%, $accent 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color:#fff;
  font-size: 18px;
  font-weight: 600;
  opacity: 0;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s;
  &.show{
    opacity:1;
  }
  &.error{
    background: linear-gradient(to right, #E54222 0%, #E56322 100%);
  }
  #close{
    position:absolute;
    top:0;
    right:10px;
    cursor:pointer;
  }
}
