$nav-height: 75px;
$shadow: 0 4px 12px rgba(0,0,0,0.15);
$drawerWidth: 250px;
$anim: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
/*colours */
$primary: #7DE522;
$accent: #D5E522;
$dark: #2A3547;
$light: #A4A9B2;
$bg: #EDF1F9;
$margin: 12px;


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
$font : 'Montserrat', sans-serif;

/*
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');
$font : 'Quicksand', sans-serif;
*/
a, a:hover{
  color: inherit;
  transition: $anim;
}

.col{
  padding:0;
  margin:$margin;
}

body{
  margin: 0;
  background: $bg;
  font-family: $font;
//  overflow-x: hidden;
}
.navbar-nav{
  display: flex;
  width:100%;
  justify-content: space-between;
}

h1{
  color: rgba(0,0,0,0.5);
  margin:0;
}

hr{
  background:rgba(0,0,0,0.5);
  //height:1px;
}

.heading{
  margin:$margin;
}
.row{
  width:100%;
  margin:auto;
}

.main{
  margin:auto;
  height:auto;
  margin-left: 250px;
  position:relative;
}

.card-container{
  padding:0;
}

.module{
  padding:$margin;
  background: none;
}

.card{
  box-shadow: $shadow;
  border:0;
  border-radius: 0;
  margin:$margin;
  padding:24px;
  background: white;
  .card-header{
    background:0;
    text-transform: uppercase;
    font-weight: 600;
    color:$primary;
    padding:$margin/2 0;
  }
  .card-body{
    padding:$margin 0;
    background: 0;
  }
}

.logo{
  $img-height: $nav-height*0.75 - $margin/2 + 0.5;
  height: $img-height;
  width: $img-height*1.675;
  margin: $margin auto ;
}

.drawer {
  width:250px;
  background: $dark;
  color:$light;
  position: fixed;
  overflow-x: hidden;
  z-index:1;
  height:100%;
  .list-group-item{
    height:60px;
    border-radius: 0;
    background: 0;
    border: 0;
    color:$light;
    transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    >div{
      height: 60px;
      width:0;
      bottom:0;
      left:0;
      position: absolute;
      margin:0;
      transition: $anim;
      background: $primary; /* Old browsers */
      background: linear-gradient(to right, $primary 0%, $accent 100%);
      z-index:-1;
    }
  }
  .list-group-item:not(.active):hover{
    color:$primary;
    background: rgba(130,230,50,0.05);
    > div{
     width:8px;
   }
  }

  .active{
    color:white;
    font-weight: 600;
    //background: $primary; /* Old browsers */
    //background: linear-gradient(to right, $primary 0%, $accent 100%);
    > div{
      color:$primary;
      width: 100%;
   }
  }

}

.menu-icon{
  display: none;
}

@media only screen and (max-width: 960px) {
  .menu-icon{
    display: block;
  }
  body{
    background:white;
  }
  .drawer{
    transform: translateX(-255px);
  }
  .navbar{
    position: fixed;
    width:100%;
  }

  .main{
    margin-left:0;
  }
  .card{
    box-shadow: none;
    margin:0;
  }
  .module{
    margin-top: $nav-height;
    padding:0;
    margin:0;
  }
  .search-container{
    float:right;
  }
  .notifications{
    display: none;
  }
}

@media only screen and (max-width: 600px) {

}

nav{
  z-index: 2;
  height: $nav-height;
  background: white;
  colour:$light;
  box-shadow: $shadow;
}

.nav-link{
  padding: 0;
}

.nav-icon{
  vertical-align: -webkit-baseline-middle;
  margin:0 $margin;
}

.nav-icon-static{
  margin-right: $margin;
  color:rgba(0,0,0,0.5);
}

.search{
  border:0;
  color:rgba(0,0,0,0.75);
  width:250px;
}
.search:focus{
    outline: none;
}

.module{
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.75s;
}

.transparent{
  opacity: 0;
  //transform: translateY(50px);
  transform: scale(0.96);
}

.material-icons{
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 5px;
}

.drawer-icon{
  margin-right: $margin;
}
